
*matriz_confusao_naive_bayes.jpg
matriz_de_confusao_arvore.jpg
matriz_de_confusao_knn.jpg
matriz_de_confusao_lgbm.jpg
matriz_de_confusao_random_forest.jpg
 

metrica_tempo_arvore.txt
metrica_tempo_knn.txt
metrica_tempo_lgbm.txt
metrica_tempo_logistica.txt
metrica_tempo_random.txt
metrica_tempo_svm.txt
metrica_tempo_xgboost.txt
dataset - Copia.xlsx
dataset.csv
dataset.xlsx
df_classifier.csv
df_classifier_metricas.csv
   
Teste_tukey_RESULTADO.txt
       
__pycache__/

distribution_xgb.jpg
multiplicomparasion_tukey.heatmap.jpg
validacao_knn.csv
validacao_lightgbm.csv
validacao_naive_bayes.csv
validacao_randomforest.csv
validacao_regressao_logistica.csv
validacao_svc.csv
validacao_xgb.csv             

        
naive_bayes_tempo.txt
   
previsores_escalonados.pkl
validacao_arvores_decisao.csv
      
classe.pkl
classe_alvo.pkl
   
        
classificador_catboost.py

distribution_knn.jpg
distribution_lightgbm.jpg
distribution_logistica.jpg
distribution_naive_bayes.jpg
distribution_random_forest_classifier.jpg
distribution_svc.jpg
distribution_xgb.jp
fss_fadiga_ess.xlsx
       
heatmap.csv
ht_fss.xlsx

              
        
